header {
    background: linear-gradient(45deg, #ea3636, #ff5f5f, #ff8c8c);
    color: #ffffff;
    display: flex;
    width: 100%;         /* ขยายให้เต็มหน้าจอ */
    margin: 0;           /* เอาค่ามาร์จินออก */
    padding: 20px;       /* เพิ่ม padding ถ้าต้องการ */
    box-sizing: border-box; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* จัดตำแหน่งลิงก์และปุ่ม hamburger อยู่ทางซ้ายและขวา */
    align-items: center;
    height: 60px;
    padding: 0;
  }
  
  nav a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center; /* จัดตำแหน่งข้อความในแนวตั้ง */
    justify-content: center; /* จัดตำแหน่งข้อความในแนวนอน */
    line-height: normal; /* ปรับให้ข้อความอยู่ในตำแหน่งที่พอดี */
    padding: 10px 20px; /* เพิ่มระยะห่างภายใน */
  }
  
  
  nav a.active {
    color: #fffb00;
    font-size: 60px;
    line-height: normal; /* ปรับความสูงของบรรทัดให้พอดี */
    text-align: center;
  }
  .box1-link {
    display: inline-block;
    padding: 10px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .box1-link:hover {
    background-color: #9babc0;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  main {
    font-family: "Arial", sans-serif;
    font-size: 25px;
    line-height: 1.;
    color: #2e2e2e;
    background-color: #ffffff;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  .number {
    text-align: start;
  }
  .image {
    height: 500px;
    width: 10;
    border: 5px solid rgb(255, 204, 0);
    border-radius: 10px;
  }
  p{
    text-indent: 50px;
  }
  